body {
  background-color: #d6dbda;
}

.credit {
  position: absolute;
  bottom: 15px;
  right: 15px; }

#wrapper {
  background-image: url("/gfx/plexis-bg.jpg");
  background-color: #343a40;
  width: 100%;
  height: 100%;
  display: block; }

#landing-wrapper {
  padding-left: 150px;
  padding-top: 200px;
  background-image: url("./assets/plexis-bg.jpg");
  height: 500px;
}
.landing-headline, .landing-subheadline {
  color: white;
  font-family: 'raleway SemiBold';
}
.landing-headline {
  font-size: 50px;
}
.landing-subheadline {
  font-size: 20px;
}

.container-fluid {
  background-color: #f4f3f3;
}

.search__bar {
  min-width: 400px;
}

.user__avatar {
  width: auto;
  height: 50px;
}

.user__username a {
  color: #d5d1d1;
}

.user__username a:hover {
  color: #f4f3f3;
}
